{{>layout/header}}
<h1>파일 업로드</h1>
<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <input type="text" name="extraField"/><br/><br/>
    <input type="file" name="files"/><br/><br/>
    <input type="file" name="files"/><br/><br/>
    <input type="submit" value="파일 등록" class="btn-primary" id="uploadBtn"/>
</form>
{{>layout/footer}}
